<!DOCTYPE html>

<html>
	<head>
	</head>
	<body>
		<div id="eventlistener" style="display: none;"></div>

		<h1>INSIDE ROOM ID: <%= roomid %></h1>
		<div id="text-log"></div>

		<script type="text/javascript">
			var roomid = '<%= roomid %>';
		</script>

		<script type="text/javascript" src="/javascript/signalSockets.js"></script>
	</body>
</html>
